<div id="ready-for-jumbotron">
    <div class="container">
      <h2>Zadankaiとは？</h2>
      <p>こんなものを創りたい。こんなイベントを企画したい。なにか楽しいことをしたい。<br/>
      そういったあなたの心の中にある思いを形にするお手伝いをしたい。<br/>
      そんな思いから、この「Zadankai」はスタートしました。<br/>
      気軽に心の中の想いをシェアして、それに賛同してくれる仲間（ファン）に出会い、企画を実現させる。<br/>
      どんどんアイデアをシェアしよう。そのアイデアをみんなで育てて実現させよう。<br/>
      </p>
    </div><!-- /.container -->
</div><!-- /.jumbotron -->
