<div class="jumbotron">
    <div class="container">
      <h1><%= image_tag("/images/zadankai2.gif") %></h1>
      <p>Have a fun! Have a good conversation!!!</p>

    </div><!-- /.container -->
</div><!-- /.jumbotron -->
<div class="home-contents">
  <h2>出会って、そしてファンになる。</h2><br/>
  <p>ぼくらは、こころに響くものに出会ったときに、ワクワクする。<br/>
  それもとてつもなく。<br/>
  そして、その成長をみまもりたいと思う。<br/>
  さぁ、一緒に成長しよう！</p>

</div>

