<div class="container">
<div class="term-wrapper">
<div class="contents">
<h1>Zadankai利用規約</h1>

  <p>この利用規約（以下，「本規約」といいます。）は、Zadankai（ざだんかい）（以下，「当サイト」といいます。）がWeb上で提供するサービス（以下「本サービス」）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。</p><br/>

 <h4>第1条（適用）</h4>
        <p>本規約は、ユーザーと当サイトとの間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>

        <h4>第2条（利用登録）</h4>
        <p>
          <ol>
            <li>登録希望者が当サイトの定める方法によって利用登録を申請し、当サイトがこれを承認することによって、利用登録が完了するものとします。</li>
            <li>
              当サイトは、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を非承認もしくは取り消すことがあり、その理由については一切の開示義務を負わないものとします。
              <ol>
                <li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
                <li>過去、本規約に違反した者からの申請である場合</li>
                <li>反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者）である、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に関与する等反社会的勢力と関与すると当サイトが判断した場合</li>
                <li>その他、当サイトが利用登録を相当でないと判断した場合</li>
              </ol>
            </li>
          </ol>
        </p>

        <h4>第3条（ユーザーID）</h4>
        <ol>
          <li>ユーザーは、自己の責任において、本サービスのユーザーIDを管理するものとします。</li>
          <li>ユーザーは、いかなる場合にも、ユーザーIDを第三者に譲渡または貸与することはできません。</li>
        </ol>


        <h4>第4条（利用料金および支払方法）</h4>
        <ol>
          <li>ユーザーは、本サービス利用の対価を当サイトが別途定めた場合、本Webサイトに表示する利用料金を、当サイトが指定する方法により支払うものとします。</li>
          <li>ユーザーが利用料金の支払を遅滞した場合には、当サイトの判断により、本サービスの利用を禁止します。</li>
        </ol>

        <h4>第5条（禁止事項）</h4>
        <p>ユーザーは、本サービスの利用にあたり、以下の行為を禁止します。</p>
        <ol>
          <li>法令または公序良俗に違反する行為</li>
          <li>犯罪行為に関連する行為</li>
          <li>当サイトのサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
          <li>当サイトのサービスの運営を妨害するおそれのある行為</li>
          <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
          <li>他のユーザーに成りすます行為</li>
          <li>当サイトのサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
          <li>当サイト、本サービスの他の利用者または第三者の知的財産権、肖像権、プライバシー、名誉その他の権利または利益を侵害する行為</li>
          <li>過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現、自殺、自傷行為、薬物乱用を誘引または助長する表現、その他反社会的な内容を含み他人に不快感を与える表現を、投稿または送信する行為</li>
          <li>営業、宣伝、広告、勧誘、その他営利を目的とする行為（当サイトの認めたものを除きます。）、性行為やわいせつな行為を目的とする行為、面識のない異性との出会いや交際を目的とする行為、他のお客様に対する嫌がらせや誹謗中傷を目的とする行為、その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
          <li>宗教活動または宗教団体への勧誘行為</li>
          <li>その他、当サイトが不適切と判断する行為</li>
        </ol>

        <h4>第6条（本サービスの提供の停止等）</h4>
        <ol>
          <li>
            当サイトは、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
            <ol>
              <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
              <li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
              <li>コンピュータまたは通信回線等が事故により停止した場合</li>
              <li>その他、当サイトが本サービスの提供が困難と判断した場合</li>
            </ol>
          </li>
          <li>当サイトは、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害について、理由を問わず一切の責任を負わないものとします。</li>
        </ol>

        <h4>第7条（著作権）</h4>
        <ol>
          <li>ユーザーは、自ら著作権等の必要な知的財産権を有するか、または必要な権利者の許諾を得た文章、画像や映像等の情報のみ、本サービスを利用し、投稿または編集することができるものとします。</li>
          <li>ユーザーが本サービスを利用して投稿または編集した文章、画像、映像等の著作権については、当該ユーザーその他既存の権利者に留保されるものとします。
          ただし、当サイトは、本サービスを利用して投稿または編集された文章、画像、映像等を利用できるものとし、ユーザーは、この利用に関して、著作者人格権を行使しないものとします。</li>
          <li>前項本文の定めるものを除き、本サービスおよび本サービスに関連する情報について（書籍の文章）の著作権およびその他知的財産権はすべて当サイトまたは当サイトにその利用を許諾した権利者に帰属し、ユーザーは無断で複製、譲渡、貸与、翻訳、改変、転載、公衆送信（送信可能化を含む）、伝送、配布、出版、営業使用等をしてはならないものとします。</li>
          <li>ユーザーが本サービスを利用して投稿または編集した文章、画像、映像等は、利用者の責任において投稿されるものであり、当サイトはその内容の正確性、信頼性、目的適合性、非侵害性につき一切保証しないものとします。</li>
        </ol>

        <h4>第8条（利用制限および登録抹消）</h4>
        <ol>
          <li>
            当サイトは、以下の場合には、事前の通知なく、投稿データを削除し、ユーザーに対して本サービスの全部もしくは一部の利用を制限しまたはユーザーとしての登録を抹消することができるものとします。
            <ol>
              <li>本規約のいずれかの条項に違反した場合</li>
              <li>登録事項に虚偽の事実があることが判明した場合</li>
              <li>経済的、その他事情で本サービスの維持が当サイトによって困難と判断された時</li>
              <li>1年間以上本サービスの利用がない場合</li>
              <li>当サイトからの問い合わせその他の回答を求める連絡に対して30日間以上応答がない場合</li>
              <li>第2条第2項各号、第4条第2項に該当する場合</li>
              <li>その他、当サイトが本サービスの利用を適当でないと判断した場合</li>
            </ol>
          <li>前項各号のいずれかに該当した場合、ユーザーは、当然に当サイトに対する一切の債務についての権利を失うものとします。</li>
          <li>当サイトは、本条に基づき当サイトが行った行為によりユーザーに生じた損害について、一切の責任を負いません。</li>
        </ol>

        <h4>第9条（保証の否認および免責事項）</h4>
        <ol>
          <li>当サイトは、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含む）がないことを明示的にも黙示的にも保証しておりません。</li>
          <li>当サイトは、本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。</li>
          ただし、本サービスに関する当サイトとユーザーとの間の契約（本規約を含む）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。</li>
          <li>ユーザーが本サービスに登録した情報及び本サービスを通じてやりとりされる情報等は、不慮のシステムトラブル等により失われることがあります。
          当サイトは、情報のバックアップの義務及び失われた情報の修復の義務は負わないものとし、かかる事態で生じた損害について、当サイトは一切その責任を負わないものとします。</li>
          <li>第2項ただし書に定める場合であっても、当サイトは、当サイトの過失による債務不履行または不法行為によりユーザーに生じた損害（予見、または予見し得た場合を含む）について一切の責任を負いません。
          また、当サイトの過失による債務不履行または不法行為によりユーザーに生じた損害の賠償は、ユーザーから当該損害が発生した月に受領した利用料の額を上限（無償提供サービスの範囲は無償）とします。</li>
          <li>当サイトは、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。</li>
          <li>当サイトは、次に掲げる場合には、ユーザーが登録した情報も含めて、本サービスの全ての情報を閲覧したり、保存したり、第三者に開示すること（以下「閲覧等」）ができるものとします。
          それによって生じたいかなる損害についても、当サイトは一切その責任を負わないものとします。
            <ol>
              <li>本規約違反の有無等を確認する必要があるとき</li>
              <li>人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があるとき</li>
              <li>裁判所や警察などの公的機関から、法令に基づく正式な照会を受けたとき</li>
              <li>本サービスの技術的不具合を解消するために必要なとき</li>
              <li>当サイトが閲覧等の同意を求めた後、これを拒否する旨の当該ユーザーの回答が当サイトに到達しなかったとき</li>
              <li>その他本サービスを適切に運営するために必要が生じたとき</li>
            </ol>
          </li>
        </ol>

        <h4>第10条（サービス内容の変更等）</h4>
        <p>当サイトは、ユーザーに通知することなく、本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし、これによってユーザーに生じた損害について一切の責任を負いません。</p>

        <h4>第11条（利用規約の変更）</h4>
        <p>当サイトは、必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。</p>

        <h4>第12条（通知または連絡）</h4>
        <p>ユーザーと当サイトとの間の通知または連絡は、当サイトの「お問い合わせ」フォームを起点とし、それ以降はメールによって行うものとします。</p>

        <h4>第13条（権利義務の譲渡の禁止）</h4>
        <p>ユーザーは、当サイトの書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。</p>

        <h4>第14条（提携サービスの利用）</h4>
        <ol>
          <li>ユーザーは、当サイトが本サービス上に設置したリンクを経由して、本サービスと提携する第三者の提供するサービス（以下「提携サービス」）のサイトに遷移し、商品を購入することができます。
          この場合、ユーザーは提携サービスの利用規約等に従い提携サービスを利用するものとし、商品の売買契約等はユーザーと提携サービスの提供者との間に成立するものとします。</li>
          <li>ユーザーは、提携サービスの提供主体が当サイトではないことを認識の上これを利用するものとし、提携サービス上の表示、取扱い商品、又はその購入等に関する問い合わせは、全て提携サービスの提供主体に対して行うものとします。</li>
          <li>当サイトは、提携サービスの利用又は提携サービスを利用できなかったことによりユーザーに生じた損害（第三者との間で生じたトラブルに起因する損害を含む）に関し、一切責任を負いません。</li>
        </ol>

        <h4>第15条（準拠法・裁判管轄）</h4>
        <p>本規約の解釈にあたっては、日本法を準拠法とします。</p>

        <p class="end">以上</p>

  </div>
  </div>
  </div>