
<footer class="footer">
  <ul class="copyright">
    <li><%= link_to "Zadankaiとは？", zadankai_about_path, class: "link"  %> | <%= link_to "利用規約", zadankai_term_path, class: "link"  %> | <%= link_to "プライバシーポリシー", zadankai_privacy_path, class: "link"  %></li><br/>
    <li>© <%= Date.today.year %> Zadanstyle.com All right reserved.</li>
  </ul>
</footer>